@import './layouts/_login.scss';
@import './layouts/_register.scss';
#type3 {
    margin-bottom: 120px;
    text-align: center;
}

#type3 table {
    margin: 0 auto;
}

.empty {
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: orange;
}

.hide {
    display: none;
}

.db-details-container {
    position: relative;
}

.db-back {
    position: absolute;
    top: 30px;
    right: 30px;
}

.db-chart-block {
    padding: 20px;
}

.db-footer {
    bottom: 0;
    position: fixed;
}

$main-color: #8cc63f;

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background-color: $main-color;
    border-color: #4d6c22;
    color: #ffffff;
    text-shadow: 0 1px 0 #444444;
    font-weight: bold;
}

.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: $main-color;
    border-color: $main-color;
    color: #ffffff;
    text-shadow: 0 1px 0 #4d6c22;;
}

/* Active radio button icon */

.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
    border-color: $main-color
    ;
}

.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head+body .ui-btn-a.ui-focus,
html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px $main-color;
    -moz-box-shadow: 0 0 12px $main-color;
    box-shadow: 0 0 12px $main-color;
}

.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head+body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: $main-color;
    border-color: $main-color;
    color: #fff;
    text-shadow: 0 1px 0 #75a734;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px #628d29;
    -moz-box-shadow: 0 0 12px #628d29;
    box-shadow: 0 0 12px #628d29;
}


.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited {
    background-color: #333;
    border-color: #1f1f1f;
    color: #fff;
    text-shadow: 0 1px 0 #111;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: #666;
    background-color: #004B40;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
