@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

body, input, select, textarea, button, .ui-btn {
    font-family: 'Roboto', sans-serif !important;
}

@import './layouts/_login.scss';
@import './layouts/_register.scss';


.empty {
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: orange;
}

.db-footer {
    bottom: 0;
    position: fixed;
}

// body {
//     overflow:hidden;
// }



