---
---

@import "{{ site.theme }}";

// my overrides styles :)
$btn-color: #ffcc00;
$content-width: 900px;

strong {
    font-weight: bold;
}

a {
	font-weight: inherit;
}

#header nav,
.wrapper,
section {
    max-width: $content-width;
}

#header nav li a {
	font-weight: bold;
	padding: 10px 20px;
    border-color: darken($btn-color, 30%);
    background-color: $btn-color;

    &:hover {
        border-color: darken($btn-color, 50%);
        background-color: darken($btn-color, 20%);
    }
}

.authors {
	margin: 40px 0;
	td {
		text-align: center;
	}
}

section > ul:first-of-type {
	position: relative
}

section > ul:first-of-type::after {
	background: url('https://raw.githubusercontent.com/uek-pro/bai-project/master/src/img/logo.svg?sanitize=true') no-repeat center;
	opacity: 0.33;
	background-size: 55%;
	content: '';
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;
}