#type3 {
    margin-bottom: 120px;
    text-align: center;
}

#type3 table {
    margin: 0 auto;
}

#habitsList, #suggested-habits-list {
    
    a {
        padding: 10px 20px;
    }
}

#manageHabit-add-btn {
    margin: 0;
}

.empty {
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: orange;
}

.hide {
    display: none;
}

.streak {
    font-size: 1.2em;
    margin: 0 16px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: seagreen;
}

.db-type {
    display: inline-block;
    padding: 0 10px;
    line-height: 1.5;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 4px;
    text-transform: uppercase;

    &.db-t0 {
        background-color: $t0-lb-color;
    }

    &.db-t1 {
        background-color: $t1-lb-color;
    }

    &.db-t2 {
        background-color: $t2-lb-color;
    }

    &.db-t3 {
        background-color: $t3-lb-color;
    }

    &.db-default {
        color: #000;
        background-color: #fff;
    }
}

.db-relative-container {
    position: relative;
}

.db-chart-block, .db-chart-radar {
    padding: 20px;
}

@media screen and (min-width: 680px) {
    .db-chart-radar {
        width: 600px;
        margin: 0 auto;
    }
}

.db-footer {
    bottom: 0;
    position: fixed;
}

#habitDetailsPage {

    text-align: center;

    .db-back {
        position: absolute;
        top: 0;
        right: 0;
    }

    #hdMain {
        margin-top: 50px;
        font-weight: 300;
    }

    #hdAdditionDate {
        color: gray;
        text-align: center;
        margin: 0;
        padding: 32px 0;
    }

    #hdChartOnly1 p {
        text-transform: uppercase;
    }

    #hdDict {
        margin: 30px 0;
    }
}

.db-dict-row {
    margin-top: 30px;
    font-size: 1.2em;
}

.db-dict-left, .db-dict-right {
    display: inline-block;
    vertical-align: top;
    padding: 0 5%;
    width: 39%;
}

.db-dict-left {
    text-align: right;
}

.db-dict-right {
    text-align: left;
}

#habitRealizationPage {

    #habit-realization {

        text-align: center;
        
        p {
            color: grey;
            font-weight: 300;
            font-size: 1.2em;
        }
    
        .main {
            padding: 40px 0;
        }
    
        h1, h2 {
            margin: 0;
            font-weight: 300;
        }
    
        h2 {
            color: grey;
            font-size: 1em;
        }
    
        h1 {
            color: #000;
        }
    
        #realization-answer-value {
            width: 200px;
        }
    }

    .ui-content {
        margin-bottom: 180px;
    }

    #success {
        width: 120px;
        position: fixed;
        right: 0;
        bottom: 0;
        line-height: 120px;
        margin: .625em;
    }

    #failure {
        width: 120px;
        position: fixed;
        left: 0;
        bottom: 0;
        line-height: 120px;
        margin: .625em;
    }
}

@media screen and (min-width: 768px) {
    #habitDetailsPage {
        
        .db-back {
            top: 30px;
            right: 30px;
        }

        #hdMain {
            text-align: left;
        }

        .db-dict-row {
            font-size: 1.5em;
            margin-top: 50px;
        }
    }
}

#summaryPage {

    #summary p {

        font-size: 1.2em;

        &:first-child {
            font-weight: bold;
        }
    }
}