#logonPage {

  .container {
    margin: 0 auto;
    width: 600px;
  }

  h1, img {
    display: block;
    width: 100%;
  }

  .login-form {
    margin: 0 auto;
    width: 400px;
  }

  .inputs-inline {
    margin-bottom: 40px;
  }

  .inputs-inline a {
    width: 120px;
  }

  #btnLogin {
    float: right;
    margin-right: 0;
  }

  // Mobile
  @media screen and (max-width: 660px) {
    .container {
      margin: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 440px) {
    .login-form {
      margin: 0;
      width: 100%;
    }
  }
}