@import "mixin";

#logonPage {

  .container {
    margin: 0 auto;
    width: 600px;
  }

  h1, img {
    display: block;
    width: 100%;
  }

  #btnGoogleLogIn {
    background: linear-gradient(to right, #DD4B39, rgba(243, 81, 60, 0.911));
    
    @include button(#E74B37);
  }


  #btnFacebookLogIn {
    background: linear-gradient(to right, #4B77BE, #1F4788);
    
    @include button(rgb(39, 92, 177));
  }


 #btnGitHubLogIn {
  background: linear-gradient(to right, rgb(77, 75, 74), rgb(122, 113, 115));
  
  @include button(linear-gradient(to right, rgb(97, 94, 93), rgb(141, 137, 137)));
 }


 #btnLogin{
  float: right;
  margin-right: 0;
  box-shadow: 0px 3px 21px rgba(166, 255, 0, 0.7);
  background: linear-gradient(to right, rgb(64, 249, 95), rgb(29, 129, 20));
  color:white;

  @include button(linear-gradient(to right,rgb(32, 141, 23),rgb(64, 249, 95)));
 }
 

 #registerButton {
  box-shadow: 0px 3px 21px rgba(255, 100, 0, 0.7);
  background: linear-gradient(to right, rgb(194, 150, 125), rgb(235, 132, 152));

  @include button(linear-gradient(to right, rgb(167, 127, 104), rgb(214, 102, 124)));

 }


  .login-form {
    margin: 0 auto;
    width: 400px;
  }

  .inputs-inline {
    margin-bottom: 50px;
    a {
      width:120px;
    }
  }

  // Mobile
  @media screen and (max-width: 660px) {
    .container {
      margin: 0;
      width: 100%;
    }
  }

  @media screen and (min-width: 660px) {
    .container {
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }
  }

  @media screen and (max-width: 440px) {
    .login-form {
      margin: 0;
      width: 100%;
    }
  }
}

.inputs {
  padding-bottom: 25px;
}